# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

hardware/Template-KiCAD-Project-CI-backups/

hardware/ESP32-S3/BugCON_2023-backups/

hardware/SAMD11/BugCON2023_samd11-backups/

# macOS finder files
**/.DS_Store

.vscode/

# Firmware binaries
firmware/**/build/